*.log
*.pot
*.pyc
__pycache__/
local_settings.py
/static/
/venv/
/myenv/
/lesson2/data/
/lesson3/data/
/parse_members_bundestag/
lesson5/media/
lesson8/media/
*.html
*.csv
*.json
*.txt
*.zip
*.exe
*.png


